@charset "utf-8";
/*CSS document*/
body{
	background-color: #f6f5f5;
	margin: 0px;
	padding: 0px
}
ul{
	list-style: none;

}
a{
	text-decoration-style:none;

}
section{
	width: 100%;
	height: 95vh;
	background:url("images/img_bg.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 50%;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
	padding: 0px 5px;	
}
nav ul{
	display: flex;
}
nav ul li{
	margin:30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}

.logo{
	font-family: 'Sacramento', cursive;
	color: #000000;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color: #2d2a2a;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 60px;
}
.text-container p:nth-child(3){
	font-family: myriad pro-regular;
	color: #303e3e;
	font-size: 30px;
	line-height: 30px;
}
.text-container p{
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-container {
	position: absolute;
	left:13%;
	top: 42%;
	transform: translate(-13% -42%);
}
.text-container button{
	width: 130px;
	height:42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}
.hire-btn{
	border: 2px solid #373636;
	background-color: #FFA500;
	color:#FFFFFF;
}
.down-cv{
	background-color: #0b0b0b;
	color:#FFA500;
	border: none;
}
button:active{
	transform: scale(1.1);
}
.model{
	height: 500px;
	width: 550px;
	position: absolute;
	bottom:40px;
	left: 80%;
	transform: translate(-60%);
}
.about-container{
	width: 80%;
	height: 330px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
.about-container img{
	height:250px;
	width: 40%;
	left: 50%;
}
.about-text{
	width: 550px;
}
.about-text p:nth-child(1){
	color: #043e3e;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}
.about-text p:nth-child(2){
	color: #3e3d3d;
	font-size: 12px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(3){
	color: #7e7d7d;
	font-family: calibri;
	font-size: 16px;
}
.about-text buttom{
	width: 120px;
	height:40px;
	color: #FFFFFF;
	outline: none;
	border: none;
	font-family: calibri;
	background-color: #262525;
}
.services{
	height: 600px;
	background-color: #FFFFFF;
	padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
	font-family:calibri;
	font-weight:bold;
	color:#3e3d3d;
	font-size: 30px;
	line-height: 0px;
}
.services-text p:nth-child(2){
	font-family:calibri;
	font-weight:bold;
	color:#3e3d3d;
	font-size: 15px;
	line-height:5px;
}
.services-text p:nth-child(3){
	font-family:calibri;
	color:#7e7d7d;
	
}
.services-text{
	width:500px;
	margin: 50px 0px;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0.0.0.0.3);
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
.box-container{
	display: flex;
	justify-content:space-between;
}
.box-1{
	background-image: url("imagesservices-1.jpg");
	
}
.box-2{
	background-image: url("imagesservices-2.jpg");
	
}
.box-3{
	background-image: url("imagesservices-3.jpg");
	
}

.box-1 span,
.box-2 span,
.box-3 span{

	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFA500;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color: #FFFFFF;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	text-align: center;
	width: 230px;
	margin: 0px 0px 20px 0px;
	color:#8f8f8f;
}
.box-1 button,
.box-2 button,
.box-3 button{
	width: 100px;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 5px;
}
.contact-me{
	width: 100%;
	height: 280px;
	background-image: url("imagesimg_bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.contact-me p{
	color: #FFFFFF;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}
.contact-me button{
	width: 200px;
	height: 40px;
	background-color: #FFFFFF;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: bold; 
}
footer{
	height: 300px;
	justify-content:center;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}
footer p{
	font-family: calibri;
	justify-content:center;
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;

}
footer p:nth-child(2){
	font-size: 30px;
	color: #7e7d7d;
	width: 600px;
	text-align: center;
	justify-content:center;

}
.social-icons a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
}
.social-icons{
	display: flex;
}
.copyright{
	color: #565555;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	justify-content:center;
}
